/* Elements */
header {
    padding-top: 0rem;
    padding-bottom: 2rem;
    padding-left: 0rem;
    padding-right: 0rem;
    background-color: #5F9EA0;
}

p, h1, h2, h3, h4, h5 {
    padding: 0;
    margin: 0;
}

textarea {
    height: 10vh;
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

/* Inputs */
.field {
    width: 25rem;
}

/* Buttons */
.btn {
    padding: 0.05rem 0.3rem;
}

/* Links */
a {
    color: black;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    color: gray;
}

/* Images */
#index-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#listing-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 30rem;
    width: auto;
}

/* Container, grid */
.grid {
    display: grid;
}

/* Alignment & Justify */
.j-c-center {
    justify-content: center;
}

.j-i-center {
    justify-items: center;
}

.t-a-center {
    text-align: center;
}

.t-a-left {
    text-align: left;
}

.t-a-right {
    text-align: right;
}

.a-i-center {
    align-items: center;
}

.a-i-end {
    align-items: end;
}

/* Padding & Marging */
.md-pad {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.sm-pad {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.md-pad-t-b {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.sm-pad-t-b {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.md-mar-l-r {
    margin-left: 1rem;
    margin-right: 1rem;
}

.md-pad-b {
    padding-bottom: 1rem;
}

.sm-pad-b {
    padding-bottom: 0.5rem;
}

.md-mar-t-b {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.sm-mar-t-b {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

/* Borders */
.border {
    border: 0.5px solid gray;
}

/* Fonts */
.sm-fs {
    font-size: small;
}

