{% extends "auctions/layout.html" %}

{% load humanize %}

{% block title %}Category{% endblock %}

{% block main %}
    <div class="container">
        <div class="row md-pad">
            <h2>Listings in {{ category }}</h2>
        </div>

        {% for listing in active_category_listings %}
            <div class="border sm-pad sm-mar-t-b">
                <div class="row a-i-center sm-pad">
                    <div class="col">
                        <h5>{{ listing.title }}</h5>
                    </div>
                </div>

                <div class="row a-i-center t-a-center">
                    <div class="col-3">
                        <img class="image" id="index-img" src="media/{{ listing.image }}">
                    </div>

                    <div class="col-9">
                        <div class="row a-i-center">
                            <div class="col-6 o-h">
                                {{ listing.description }}
                            </div>

                            <div class="col-3">
                                <p class="current-price">Current price: <span style="font-size: 20px">{{ listing.current_price | intcomma }}</span></p>
                            </div>
                            
                            <div class="col-3">
                                <a href="{% url 'listing' listing.title %}" class="btn btn-secondary">View listing</a>
                            </div>
                        </div>   
                    </div>  
                </div>       
            </div>
        
        {% empty %}
            <h5>No active listing in this category</h5>
        
        {% endfor %}    
    </div>
{% endblock %}