{% extends "auctions/layout.html" %}

{% block title %}Create Listing{% endblock %}

{% block main %}
    <div class="container">
        <div class="row md-pad">
            <h2>Create Listing</h2>
        </div>

        {% if message %}
            <div>{{ message }}</div>
        {% endif %}
    
        <form action="{% url 'create' %}", method="post", enctype="multipart/form-data">
            {% csrf_token %}

            {{ form.as_p }}

            <button class="btn btn-secondary" type="submit">Create</button>
        </form>
    </div>
    
{% endblock %}
