{% extends "auctions/layout.html" %}

{% block body %}
    <div class="container">
        <div class="row index-row-title">
            <h2>Active Listings</h2>
        </div>

        {% for listing in listings %}
        <div class="row index-row-item-title">
            <h5>{{ listing.title }}</h5>
        </div>

        <div class="row index-row-content">
            <div class="col-3 col-img">
                <img class="image" id="index-img" src="media/{{ listing.image }}">
            </div>

            <div class="col-9 col-txt">
                <div class="row">
                    <div class="col-6 col-int">
                        <p class="description">{{ listing.description }}</p>
                    </div>

                    <div class="col-3 col-int">
                        <p class="current-price">{{ listing.current_price }}</p>
                    </div>
                    
                    <div class="col-3 col-int">
                        <a href="{% url 'listing' listing.title %}" class="btn btn-secondary">View listing</a>
                    </div>
                </div>   
            </div>  
        </div>
        {% endfor %}
    </div>
{% endblock %}