{% extends "auctions/layout.html" %}

{% load humanize %}

{% block title %}Listing{% endblock %}

{% block body %}
    <div class="container">
        <div class="row listing-row-1">
            <div class="col-8">
                <h1>{{ listing.title }}</h1>
            </div>

            <div class="col-4 col-price">
                <p><span style="font-weight: bold">Current Price: </span><span style="font-size: 25px">{{ listing.starting_bid | intcomma }}</span></p>
            </div>
        </div>

        <div class="row listing-row-2">
            <div class="col-8">
                <p>{{ listing.description }}</p>
            </div>

            <div class="col-4 col-price">
                <p><span style="font-weight: bold">Starting Bid: </span>{{ listing.starting_bid | intcomma }}</p>
            </div>
        </div>

        <img class="image" id="listing-img" src="{{ listing.image.url }}" alt="image">
    </div>
{% endblock %}