{% extends "auctions/layout.html" %}

{% block title %}Watchlist{% endblock %}

{% block main %}
    <div class="container">
        <div class="row md-pad">
            <h2>My Watchlist</h2>
        </div>

        <ul>
            {% for watching in watchings %}
                <li>
                    <a href="{% url 'listing' watching.listing %}">{{ watching.listing }}</a>  
                </li>
            
            {% empty %}
                <h5>No listing being watched</h5>
            
            {% endfor %}    
        </ul>
    </div>
{% endblock %}